.container {
  display: flex;
  flex-direction: column;
}

.container:hover {
  cursor: pointer;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.titleContainer h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.button {
  font-size: 1rem;
  border-radius: 100px;
  padding: 0.8rem 2rem;
}

.button p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.cardsContainer {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  overflow-y: auto;
}

/* active finances container */
.activeFinancesContainer {
  margin: 2rem 0rem;
}

.activeFinancesTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.activeFinancesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  overflow-y: auto;
}
