.sidebar {
  width: 269px;
  max-height: calc(100vh - 50px);
  background-color: #f5f7f9;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d7d5d5;
  border-top: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: sticky;

  left: 0;
  top: 25px;
  border-radius: 0px 16px 16px 0px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
  cursor: pointer;
}

.sidebar-logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 1px solid var(--accent);
  border-radius: 10%;
}

.sidebar-logo span {
  font-weight: 700;
  font-size: 24px;
  color: var(--accent);
}

.sidebar-section {
  margin-bottom: 32px;
}

.sidebar-heading {
  font-size: 12px;
  font-weight: 600;
  color: #8899a6;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 12px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #5d6b75;
}

.nav-item-container:hover {
  background-color: rgba(15, 76, 58, 0.05);
  color: var(--accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
}

.nav-item.active {
  color: var(--accent);
}

.nav-icon {
  width: 18px;
  height: 19px;
}

.nav-item-container.active {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-container {
  padding: 12px;
  display: flex;
  align-items: center;
}

.nav-label {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
